{% extends 'base.html' %}

{% block extra_css %}
  <style>
    textarea {
      font-family: monospace;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group row">
          <div class="col col-8">{{ addform.name.label }}: {{ addform.name }}</div>
          <div class="col col-4">{{ addform.condition.label }}: {{ addform.condition }}</div>
          <div class="col col-4">{{ addform.count.label }}: {{ addform.count }}</div>
          <div class="col col-4">{{ addform.send_user.label }}: {{ addform.send_user }}</div>
          <div class="col col-4">{{ addform.user.label }}: {{ addform.user }}</div>
        </div>
        <div class="form-group row">
          <div class="col">{{ addform.text.label }}: {{ addform.text }}</div>
        </div>
        <div class="form-group row">
          <div class="col">
            <input type="submit" class="btn btn-primary btn-block" value="Добавить" />
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
