{% extends 'base.html' %}

{% block content %}
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Название</th>
        <th scope="col">Имя заказчика</th>
        <th scope="col">Дата создания</th>
        <th scope="col">Состоянние</th>
        <th scope="col">Количество </th>
        <th scope="col">Поставщик </th>
        <th scope="col">Статус </th>
        
      </tr>
    </thead>
    <tbody>
      {% for data_item in data %}
        <tr>
          <th scope="row">{{ data_item.id }}</th>
          <td>
            <a href="/snippets/{{ data_item.id }}">{{ data_item.name }}</a>
          </td>
          <td>{{ data_item.user.username }}</td>
          <td>{{ data_item.creation_date }}</td>
          <td>{{ data_item.condition }}</td>
          <td>{{ data_item.count }}</td>
          <td>{{ data_item.send_user }}</td>
          <td>{{ data_item.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
