{% extends 'base.html' %}

{% block content %}
<div class ="form-group col">
    <h2 class = "col col-8 p-1">Редактирование инвентаря</h2>
    <form method="post">
        {% csrf_token %}
        <div class ="form-group "> 
                <div class = "col col-8 p-1 ">
                    <label for="condition">Состояние:</label>
                    <input type="text" class="form-control" id="condition" name="condition" value="{{ snippet.condition }}">
                </div>
                <div class = "col col-8 p-1">
                    <label for="count">Количество:</label>
                    <input type="text" class="form-control"  id="count" name="count" value="{{ snippet.count }}">
                </div>
                <div class = "col col-8 p-1">
                    <label for="status">Статус:</label>
                    <input type="text" class="form-control" id="status" name="status" value="{{ snippet.status }}">
                </div>
                <div class = "col col-8 p-1">
                    <label for="send_user">Поставщик:</label>
                    <input type="text" class="form-control" id="send_user" name="send_user" value="{{ snippet.send_user }}">
                </div>
                <div class = "col col-8 p-1 ">
                    <label for="text">Описание:</label>
                    <textarea class="form-control" name= "text" id="text"  aria-label="With textarea"> {{snippet.text}}</textarea>
                </div>
                
            
                <button type="submit" class = "btn btn-outline-primary" > Сохранить </button>
                
            
        </div>
    </form>
</div>
{% endblock %}