{% extends 'base.html' %}

{% block content %}
<h2>Редактирование сниппета</h2>
<form method="post">
    {% csrf_token %}
    <div class ="form-group row"> 
        
            <div class = "col col-8 p-1 ">
                <label for="condition">Состояние:</label>
                <input type="text" id="condition" name="condition" value="{{ snippet.condition }}">
            </div>
            <div class = "col col-8 p-1">
                <label for="count">Количество:</label>
                <input type="text" id="count" name="count" value="{{ snippet.count }}">
            </div>
            <div class = "col col-8 p-1">
                <label for="status">Состояние:</label>
                <input type="text" id="status" name="status" value="{{ snippet.status }}">
            </div>
            <div class = "col col-8 p-1 ">
                <label for="text">Описание:</label>
                <textarea class="form-control" aria-label="With textarea"> {{snippet.text}}</textarea>
            </div>
            <div class = "col col-8 p-2"> 
                <button type="submit" class = "btn btn-outline-primary"> Сохранить </button>
            <div>
        
    </div>
</form>
{% endblock %}